@use './var.css';

*, html, body {
  box-sizing: border-box;
}
// 重写样式
.el-button:focus {
  outline: none;
}
.el-button:focus-visible {
  outline: none;
}

/** 宽度强制为240px **/ 
.\!w-240px {
  width: 240px !important;
}
.\!w-180px {
  width: 180px !important;
}
.\!w-120px {
  width: 120px !important;
}
.w-350px {
  width: 350px;
}

/** 字体相关设置 **/ 
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.text-center {
  text-align: center;
}
.text-14px {
  font-size: 14px;
}
.text-white {
  color: rgb(255, 255, 255);
}
.mt-20px {
  margin-top: 20px;
}
.mr-20px {
  margin-right: 20px;
}
.ml-20px {
  margin-left: 20px;
}
.ml-10px {
  margin-left: 10px;
}
.ml-5px {
  margin-left: 5px;
}
.padding-20px {
  padding: 20px;
}
/** 文本控制：最多显示两行，超出显示省略号 **/ 
.line-clamp-2 {
  display: -webkit-box;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
 }
 /** 文本控制：最多显示一行，超出显示省略号 **/ 
.line-clamp-1 {
  display: -webkit-box;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
 }

  /** 弹性布局相关 **/  
 .flex{
  display: flex;
 }
 .flex-1 {
  flex: 1;
 }
 .items-center {
  align-items: center;
 }
 .justify-center {
  justify-content: center;
 }

/** 字体样式 **/
@font-face {
  font-family: 'FangZhengXinZongYiJianTi-1';
  src: url('@/assets/font/FangZhengXinZongYiJianTi-1.ttf') format('truetype');
}

@font-face {
  font-family: 'YouSheBiaoTiHei-2';
  src: url('@/assets/font/YouSheBiaoTiHei-2.ttf') format('truetype');
}

@font-face {
  font-family: 'DINPro-Black';
  src: url('@/assets/font/DINPro-Black.otf') format('truetype');
}